.nav--bar {
  height: 80px;
  display: flex;
  padding: 10px;
  box-shadow: -1px 1px 11px 3px rgb(0 0 0 / 20%);
  align-items: center;
}

#planet-icon {
  width: 55px;
  height: auto;
  margin-right: 10px;
}

#nav-header {
  width: 100%;
  margin-bottom: 0;
}

.nav--list {
  width: 90%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 0;
}

ul li {
  margin-left: 20px;
  font-size: 0.8rem;
  margin-bottom: 0;
}

ul li a {
  text-decoration: none;
  color: rgb(33, 152, 216);
}

.link {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}